/Makefile
/Makefile.in
/src/Makefile
/src/Makefile.in
/src/browser/Makefile
/src/browser/Makefile.in
/test/Makefile
/test/Makefile.in
/test/cctest/cctest
/build-aux
/build-m4
/autom4te.cache
/aclocal.m4
/libtool
/stamp-h1
/config.h*

.libs
.deps
.dirstamp
*.status
*.log
*.o
*.lo
*.la
*.so
*.a
*.guess
*.sub

/src/browser/*.js

*~
\#*
.\#*
