/Makefile
/Makefile.in

/lib/Makefile
/lib/Makefile.in

/src/Makefile
/src/Makefile.in
/src/api/Makefile
/src/api/Makefile.in
/src/glue/Makefile
/src/glue/Makefile.in
/src/glue/glue/Makefile
/src/glue/glue/Makefile.in

/test/*suite
/test/Makefile
/test/Makefile.in

/build-aux
/build-m4
/autom4te.cache
/aclocal.m4
/libtool
/stamp-h1
/config.h*
/configure
/tmp

.libs
.deps
.dirstamp
*.status
*.log
*.o
*.lo
*.la
*.so
*.a
*.guess
*.sub

/lib/*.js
/lib/browser/*.js

*~
\#*
.\#*
